In [38]:
%matplotlib inline

In [39]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import re

In [40]:
def IR_Flag(rate):
    if rate > .12:
        return True
    else:
        return False

In [41]:
def num_strip_rt(data):
    if '%' in data:
        data = data.rstrip('%')
        
    if "." in data:
        data = float(data)/100
        
    return data

In [42]:
def get_int_from_text(data):
#     data = re.search('[0-9]*', data).group(0)
    data = re.findall('[0-9]+', data) # produces a 1 item list
    
#     print("data is type {}".format(type(data)))
    
#     data = [x for x in data if x != '']

    try:
        return data[0]
    except: 
        return -1
    
    
def own(data):
    if data in ['MORTGAGE','OWN']:
        return 1
    else:
        return 0

In [43]:
# get loandata
raw_data = pd.read_csv('https://spark-public.s3.amazonaws.com/dataanalysis/loansData.csv')

In [44]:
raw_data.dropna(inplace=True) # drop the na rows
# clean fico range and get score 
raw_data['FICO.Score'] = map(lambda x: int(x.split('-')[0]), raw_data['FICO.Range']) # clean fico range and get score #ask Kyle why this runs so slow

raw_data['Debt.To.Income.Ratio'] = [num_strip_rt(data) for index, data in raw_data['Debt.To.Income.Ratio'].iteritems()]
raw_data['Interest.Rate'] = [num_strip_rt(data) for index, data in raw_data['Interest.Rate'].iteritems()]
raw_data['Loan.Length'] = [get_int_from_text(data) for index, data in raw_data['Loan.Length'].iteritems()]
raw_data['Employment.Length2'] = [get_int_from_text(data) for index, data in raw_data['Employment.Length'].iteritems()]
raw_data = raw_data[raw_data['Employment.Length2'] > 0] # delete any employment length -1 generated by original N/A
raw_data['Loan.Length'] = raw_data['Loan.Length'].astype(int)
 # add rate flag
raw_data['IR_TF'] = [IR_Flag(rate) for index, rate in raw_data['Interest.Rate'].iteritems()]
raw_data['OWN'] = [own(desc) for index, desc in raw_data['Home.Ownership'].iteritems()]

In [52]:

gbhome = raw_data.groupby('Home.Ownership')

gbhome.head()

In [24]:
raw_data.ix[raw_data['Employment.Length2'] == -1]

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Employment.Length2
67629,16000,15925.00,0.0762,36,debt_consolidation,0.0648,IL,MORTGAGE,6000.00,765-769,8,19539,0,n/a,-1
51929,9525,9500.00,0.1581,36,small_business,0.1135,CA,RENT,2666.67,670-674,15,5610,1,n/a,-1
84563,8000,8000.00,0.0762,36,other,0,NC,MORTGAGE,3500.00,765-769,7,0,1,n/a,-1
64884,9000,9000.00,0.0603,36,vacation,0.0558,NJ,MORTGAGE,9583.33,815-819,11,675,0,n/a,-1
85644,10000,10000.00,0.1016,36,debt_consolidation,0.093,TX,MORTGAGE,3333.33,725-729,8,8940,2,n/a,-1
19548,4000,4000.00,0.1074,36,debt_consolidation,0.0197,KS,RENT,2900.00,695-699,13,1869,1,n/a,-1
45941,3000,3000.00,0.0976,36,debt_consolidation,0.2182,VA,OWN,1100.00,720-724,4,2413,0,n/a,-1
33161,3000,3000.00,0.1727,36,credit_card,0.1662,SC,RENT,3833.33,660-664,4,4136,0,n/a,-1
51833,4200,4200.00,0.0890,36,debt_consolidation,0.1043,CA,MORTGAGE,2254.00,700-704,7,4490,0,n/a,-1
84110,2500,2500.00,0.1409,36,medical,0.2095,NY,RENT,2666.67,665-669,9,15787,0,n/a,-1
33093,8000,8000.00,0.0662,36,credit_card,0.049,FL,MORTGAGE,3000.00,780-784,5,6084,1,n/a,-1
35935,5000,5000.00,0.0991,36,debt_consolidation,0.2877,OH,RENT,3166.67,750-754,3,0,1,n/a,-1
50460,2225,2225.00,0.1465,36,credit_card,0.2409,WV,MORTGAGE,3250.00,670-674,9,26854,1,n/a,-1
97462,1000,1000.00,0.2295,36,other,0.1978,NY,RENT,884.90,665-669,4,5561,0,n/a,-1
100469,8875,8875.00,0.1531,36,debt_consolidation,0.149,SC,RENT,2302.00,665-669,8,10008,0,n/a,-1
83422,30000,30000.00,0.2247,60,debt_consolidation,0.2007,NY,MORTGAGE,7916.67,690-694,9,4202,3,n/a,-1
79611,2350,2350.00,0.1409,36,credit_card,0.1118,WA,MORTGAGE,1833.33,725-729,3,7463,1,n/a,-1
61261,8000,8000.00,0.1905,36,debt_consolidation,0.0283,NY,RENT,3333.33,660-664,4,2832,0,n/a,-1
73010,8000,8000.00,0.1311,36,credit_card,0.2135,TX,OWN,3541.67,700-704,13,6885,2,n/a,-1
47011,3600,3600.00,0.1367,36,other,0.1641,CA,MORTGAGE,5113.00,690-694,10,715,1,n/a,-1
31573,15000,15000.00,0.1749,60,debt_consolidation,0.1122,CT,RENT,3333.33,695-699,4,6147,2,n/a,-1
14595,10000,10000.00,0.1632,60,home_improvement,0.148,WV,RENT,2290.00,685-689,5,394,2,n/a,-1
100086,14000,14000.00,0.1016,36,debt_consolidation,0.1344,CA,RENT,7916.67,690-694,16,19621,0,n/a,-1
53062,10000,10000.00,0.1399,36,debt_consolidation,0.1073,NC,RENT,2629.00,685-689,5,10029,0,n/a,-1
81788,5000,5000.00,0.1114,36,other,0.1361,NY,RENT,3333.33,685-689,10,8436,0,n/a,-1
51812,6075,6075.00,0.0762,36,debt_consolidation,0.2825,OR,RENT,1083.33,720-724,8,11539,0,n/a,-1
52548,3600,3600.00,0.0976,36,credit_card,0.1134,MI,RENT,2108.33,695-699,14,4467,0,n/a,-1
46245,23500,23450.00,0.1465,36,debt_consolidation,0.1948,CA,RENT,4000.00,685-689,7,20542,0,n/a,-1
68487,5500,5500.00,0.1433,36,debt_consolidation,0.2783,WV,OWN,1541.67,675-679,5,10481,1,n/a,-1
71766,3000,2975.00,0.0890,36,debt_consolidation,32,FL,RENT,1000.00,700-704,7,9730,0,n/a,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85720,18550,18550.00,0.1212,36,debt_consolidation,0.1137,FL,MORTGAGE,3941.00,710-714,14,9438,0,n/a,-1
89677,10000,10000.00,0.1531,36,credit_card,0.2603,WA,MORTGAGE,5416.67,675-679,12,7161,3,n/a,-1
15634,6000,5956.31,0.0999,36,debt_consolidation,0.1786,CO,MORTGAGE,4980.00,685-689,10,15280,1,n/a,-1
58346,4800,4800.00,0.1999,36,debt_consolidation,0.2044,NM,MORTGAGE,2500.00,660-664,4,21514,1,n/a,-1
87150,21700,21700.00,0.1531,36,credit_card,0.1393,CA,MORTGAGE,5147.17,695-699,6,8795,2,n/a,-1
11953,4800,4800.00,0.0788,60,major_purchase,0.0788,CA,MORTGAGE,1600.00,765-769,6,4191,1,n/a,-1
103708,4800,4800.00,0.0788,36,debt_consolidation,0.2395,FL,MORTGAGE,3750.00,710-714,19,114509,0,n/a,-1
55812,13600,13600.00,0.0790,36,home_improvement,0.1261,CA,MORTGAGE,6250.00,740-744,7,14524,0,n/a,-1
63971,27575,27575.00,0.1727,36,credit_card,0.3347,PA,MORTGAGE,5750.00,700-704,21,24705,2,n/a,-1
101002,2200,2200.00,0.1531,36,debt_consolidation,0.2884,CA,RENT,4750.00,675-679,13,26552,0,n/a,-1
103315,3600,3575.00,0.1287,36,educational,0.034,FL,RENT,2000.00,705-709,8,2650,4,n/a,-1
35797,5000,5000.00,0.0603,36,debt_consolidation,0.2986,CA,OWN,2083.33,785-789,12,22141,0,n/a,-1
46604,1200,1200.00,0.0790,36,debt_consolidation,0.0692,CT,RENT,1300.00,710-714,8,1775,0,n/a,-1
96798,15000,15000.00,0.0662,36,debt_consolidation,0.0323,NJ,MORTGAGE,6250.00,755-759,8,13131,0,n/a,-1
68987,6200,6200.00,0.1531,36,credit_card,0.2052,CA,RENT,1940.00,665-669,5,16850,0,n/a,-1
10441,4000,3925.00,0.1149,36,other,0.1398,VA,MORTGAGE,4700.00,695-699,7,19310,3,n/a,-1
60833,6000,6000.00,0.1212,36,credit_card,0.3082,CT,MORTGAGE,4166.67,695-699,8,13250,1,n/a,-1
97449,35000,35000.00,0.2247,60,debt_consolidation,0.1895,FL,OWN,9583.33,660-664,9,14184,1,n/a,-1
14231,1450,1450.00,0.0751,36,other,0.222,MA,RENT,833.33,740-744,9,709,0,n/a,-1
58924,9950,9950.00,0.1531,36,wedding,0.0784,CA,RENT,2833.33,675-679,7,4904,2,n/a,-1
35161,3000,3000.00,0.0603,36,debt_consolidation,0.1103,NY,MORTGAGE,7500.00,765-769,13,10585,0,n/a,-1
100635,12700,12700.00,0.1777,36,debt_consolidation,0.2394,AL,MORTGAGE,3333.33,685-689,14,9655,3,n/a,-1
19695,12000,11950.00,0.1268,60,debt_consolidation,0.2272,NY,RENT,5000.00,700-704,19,9002,0,n/a,-1
70648,8000,8000.00,0.1409,36,debt_consolidation,0.196,CO,MORTGAGE,5292.00,695-699,13,8903,1,n/a,-1
63588,11500,11475.00,0.1114,36,debt_consolidation,0.234,FL,OWN,2833.33,700-704,8,17324,0,n/a,-1
72919,2875,2875.00,0.1849,36,credit_card,0.1411,AZ,RENT,1084.00,665-669,3,3824,0,n/a,-1
103374,3700,3600.00,0.0788,36,other,0.1017,CO,MORTGAGE,4985.00,720-724,6,11586,4,n/a,-1
79164,20950,20950.00,0.2295,60,debt_consolidation,0.1251,MA,RENT,10416.67,665-669,14,12460,3,n/a,-1
45424,12000,11950.00,0.0603,36,home_improvement,0.0961,NV,OWN,3100.00,755-759,7,11076,0,n/a,-1
78043,8475,8475.00,0.0762,36,debt_consolidation,0.1588,CA,RENT,3983.33,720-724,9,6882,0,n/a,-1

In [25]:
ind_vars = list(raw_data.columns.values)

In [26]:
ind_vars

['Amount.Requested',
 'Amount.Funded.By.Investors',
 'Interest.Rate',
 'Loan.Length',
 'Loan.Purpose',
 'Debt.To.Income.Ratio',
 'State',
 'Home.Ownership',
 'Monthly.Income',
 'FICO.Range',
 'Open.CREDIT.Lines',
 'Revolving.CREDIT.Balance',
 'Inquiries.in.the.Last.6.Months',
 'Employment.Length',
 'Employment.Length2']

In [58]:
ind_vars = ['Amount.Requested',
 'Interest.Rate',
'Constant']

In [56]:
ind_vars

['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate', 'Constant']

In [57]:
raw_data[ind_vars]

        Amount.Requested  Amount.Funded.By.Investors  Interest.Rate  Constant
81174              20000                    20000.00         0.0890         1
99592              19200                    19200.00         0.1212         1
80059              35000                    35000.00         0.2198         1
15825              10000                     9975.00         0.0999         1
33182              12000                    12000.00         0.1171         1
62403               6000                     6000.00         0.1531         1
48808              10000                    10000.00         0.0790         1
22090              33500                    33450.00         0.1714         1
76404              14675                    14675.00         0.1433         1
15867               7000                     7000.00         0.0691         1
94971               2000                     2000.00         0.1972         1
36911              10625                    10625.00         0.1427         1
41200              28000                    27975.00         0.2167         1
83869              35000                    34950.00         0.0890         1
53853               9600                     9600.00         0.0762         1
21399              25000                    24975.00         0.1565         1
62127              10000                    10000.00         0.1212         1
23446              14000                    13900.25         0.1037         1
44987              10000                    10000.00         0.0976         1
17977               5200                     5175.00         0.0999         1
86099              22000                    21975.00         0.2198         1
99483              30000                    30000.00         0.1905         1
28798               6500                     6500.00         0.1799         1
24168              17400                    17400.00         0.1199         1
10356               4000                     4000.00         0.1682         1
46027               7200                     7200.00         0.0790         1
2238                8000                     8000.00         0.1442         1
65278               8000                     8000.00         0.1531         1
4227                3000                     3000.00         0.0859         1
50182              14500                    14500.00         0.0790         1
...                  ...                         ...            ...       ...
84265              20000                    20000.00         0.2295         1
80231              19000                    19000.00         0.0790         1
49533              17300                    17250.00         0.2245         1
102514              7000                      711.54         0.1513         1
78618               7200                     7200.00         0.1875         1
86953              10000                    10000.00         0.1409         1
80129               4000                     3925.00         0.1409         1
85216              17500                    17500.00         0.0890         1
38247              20000                    20000.00         0.1171         1
91245              16200                    16200.00         0.1580         1
53041              10000                    10000.00         0.0603         1
63051              27000                    27000.00         0.0662         1
14446               4500                     4475.00         0.0751         1
68628              15875                    15875.00         0.1433         1
98758              15000                    15000.00         0.1016         1
13070              25000                    24950.00         0.1075         1
45836               7000                     7000.00         0.1727         1
52330              15000                    15000.00         0.1999         1
48243              17000                    17000.00         0.1581         1
63256              19075                    19075.00         0.1875         1
42124              10000                    10000.00         0.1171         1
78043               8475                     8475.00         0.0762         1
925                 6400                     6350.00         0.1008         1
74047              30000                    30000.00         0.2328         1
49957              24000                    23975.00         0.1465         1
23735              30000                    29950.00         0.1677         1
65882              16000                    16000.00         0.1409         1
55610              10000                    10000.00         0.1399         1
38576               6000                     6000.00         0.1242         1
3116                9000                     5242.75         0.1379         1

[2500 rows x 4 columns]

In [55]:
raw_data['IR_TF']

81174     False
99592      True
80059      True
15825     False
33182     False
62403      True
48808     False
22090      True
76404      True
15867     False
94971      True
36911      True
41200      True
83869     False
53853     False
21399      True
62127      True
23446     False
44987     False
17977     False
86099      True
99483      True
28798      True
24168     False
10356      True
46027     False
2238       True
65278      True
4227      False
50182     False
          ...
84265      True
80231     False
49533      True
102514     True
78618      True
86953      True
80129      True
85216     False
38247     False
91245      True
53041     False
63051     False
14446     False
68628      True
98758     False
13070     False
45836      True
52330      True
48243      True
63256      True
42124     False
78043     False
925       False
74047      True
49957      True
23735      True
65882      True
55610      True
38576      True
3116       True
Name: IR_TF, dtype: bool

In [39]:
 # add constant
raw_data['Constant'] = 1

In [ ]:
type(raw_data['Loan.Length'][:1])

In [59]:
logit = sm.Logit(raw_data['IR_TF'], raw_data[ind_vars])

In [60]:
result = logit.fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35

C:\Users\bob071988\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [61]:
coeff = result.params
print(coeff)

Amount.Requested       -0.000020
Interest.Rate       25575.419020
Constant            -3081.784218
dtype: float64

result.predict(10000,.08,1)

In [64]:
result.predict([10000,.16,1])

array([ 1.])

In [ ]:
def fix_data(raw_data):
       
    # clean interest rate using regex - ability to replace so df objects are mutable
    raw_data['Interest.Rate'] = [float(re.search('^[0-9]*.[0-9]*',loan).group(0))/100 for loan in raw_data['Interest.Rate']]

    # clean fico range and get score 
    raw_data['FICO.Score'] = map(lambda x: int(x.split('-')[0]), raw_data['FICO.Range'])
    
    # clean loan length
    raw_data['Loan.Length'] = map(lambda x: int(x.split()[0]), raw_data['Loan.Length'])
    
    # clean debt to income ratio
    raw_data['Debt.To.Income.Ratio'] = [float(re.search('^[0-9]*.[0-9]*',loan).group(0))/100 for loan in raw_data['Debt.To.Income.Ratio']]
    
    # add rate flag
    loan_data['IR_TF'] = [IR_Flag(rate) for index, rate in loan_data['Interest.Rate'].iteritems()]
    
    # add constant
    loan_data['Constant'] = [1 for row in loan_data.iterrows()]
    
    return raw_data

In [ ]:
raw_data.head()

In [ ]:
 # clean debt to income ratio
raw_data['Debt.To.Income.Ratio'] = [float(re.search('^[0-9]*.[0-9]*',loan).group(0) for loan in raw_data['Debt.To.Income.Ratio']]

In [ ]:
raw_data.head()

In [ ]:
raw_data.head()

In [24]:
loan_data = fix_data(raw_data)

ValueError: invalid literal for float(): 4%

In [8]:
raw_data.head()

In [10]:
ind_vars = list(loan_data.columns.values)

In [12]:
ind_vars.remove('Interest.Rate')

In [16]:
ind_vars.remove('IR_TF')

ValueError: list.remove(x): x not in list

In [ ]:
ind_vars.remove('Constant')

In [14]:
ind_vars

['Amount.Requested',
 'Amount.Funded.By.Investors',
 'Loan.Length',
 'Loan.Purpose',
 'Debt.To.Income.Ratio',
 'State',
 'Home.Ownership',
 'Monthly.Income',
 'FICO.Range',
 'Open.CREDIT.Lines',
 'Revolving.CREDIT.Balance',
 'Inquiries.in.the.Last.6.Months',
 'Employment.Length',
 'FICO.Score',
 'Constant']