In [18]:
%matplotlib inline

In [26]:
import ts1 as ts
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels

In [20]:
reload(ts)

In [21]:
df = ts.analyze_it()

In [22]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10179520,12031088,3000,3000,3000,36 months,12.85%,100.87,B,B4,...,0,1,91.3,66.7,2,0,32082,19530,4300,26782
1,10129403,11981032,7550,7550,7550,36 months,16.24%,266.34,C,C5,...,0,0,100.0,100.0,0,0,8000,5759,4000,0
2,10129506,11981122,20800,20800,20800,36 months,13.53%,706.16,B,B5,...,0,3,90.2,50.0,0,0,43100,23473,15000,0
3,10159548,12011167,15000,15000,15000,36 months,8.90%,476.30,A,A5,...,0,0,89.3,66.7,0,0,288195,39448,14200,33895
4,10159584,12011200,9750,9750,9750,36 months,13.98%,333.14,C,C1,...,0,2,100.0,66.7,0,0,21314,14123,7200,6214

In [23]:
# converts string to datetime object in pandas:
df['issue_d_format'] = pd.to_datetime(df['issue_d']) 
dfts = df.set_index('issue_d_format') 
year_month_summary = dfts.groupby(lambda x : x.year * 100 + x.month).count()
loan_count_summary = year_month_summary['issue_d']

In [24]:
#plot the loan_count_summary in from the previous assignment)

In [27]:
statsmodels.api.graphics.tsa.plot_acf()

TypeError: plot_acf() takes at least 1 argument (0 given)