In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import ts1 as ts1

In [4]:
df = ts1.analyze_it()

In [5]:
# converts string to datetime object in pandas:
df['issue_d_format'] = pd.to_datetime(df['issue_d']) 
dfts = df.set_index('issue_d_format') 
year_month_summary = dfts.groupby(lambda x : x.year * 100 + x.month).count()
loan_count_summary = year_month_summary['issue_d']

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,issue_d_format
0,10179520,12031088,3000,3000,3000,36 months,12.85%,100.87,B,B4,...,1,91.3,66.7,2,0,32082,19530,4300,26782,2013-12-01
1,10129403,11981032,7550,7550,7550,36 months,16.24%,266.34,C,C5,...,0,100.0,100.0,0,0,8000,5759,4000,0,2013-12-01
2,10129506,11981122,20800,20800,20800,36 months,13.53%,706.16,B,B5,...,3,90.2,50.0,0,0,43100,23473,15000,0,2013-12-01
3,10159548,12011167,15000,15000,15000,36 months,8.90%,476.30,A,A5,...,0,89.3,66.7,0,0,288195,39448,14200,33895,2013-12-01
4,10159584,12011200,9750,9750,9750,36 months,13.98%,333.14,C,C1,...,2,100.0,66.7,0,0,21314,14123,7200,6214,2013-12-01